@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Arial, sans-serif;
}

header {
    position: fixed;
    z-index: 1;
    height: 65px;
    width: 100%;
    padding: 15px 0;
    background-color: rgb(14, 244, 133);
}

header h1 {
    color: darkslateblue;
    padding-top: 2px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: clamp(25px, 2vw, 35px);
}

main {
    width: 100%;
    padding: 95px 25px 0px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
        "description description"
        "left-side right-side";
    gap: 20px;
}

@media screen and (max-width: 1000px) {
    main {
        grid-template-columns: 100%;
        grid-template-areas: 
            "description"
            "right-side"
            "left-side";
    }
}

p {
    line-height: 1.5;
}

section {
    border: none;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

footer {
    width: 100%;
    background-color: rgb(126, 237, 183);
    text-align: center;
    padding: 20px;
    margin-top: 50px; 
}

footer a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: mediumblue;
}

input[type="text"] {
    border: 3px solid mediumblue;
    border-radius: 10px;
    padding: 4px;
}

button {
    background-color: rgb(126, 237, 183);
    color: darkslateblue;
    border: 3px solid darkslateblue;
    border-radius: 10px;
}

.description {
    grid-area: description;
    display: flex;
    min-height: 300px;
    padding: 20px;
    flex-wrap: wrap;
}

.description article {
    flex-basis: 300px;
    flex-grow: 4;
    text-align: justify;
    padding-right: 20px;
}

article h2 {
    padding-bottom: 20px;
}

.description aside {
    flex-basis: 300px;
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-side {
    grid-area: left-side;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
}

.left-side div {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

.input-var {
    justify-content: space-around;
}

.input-var * {
    margin-right: 10px;
    margin-bottom: 10px;
}

.container-btn {
    justify-content: space-around;
}

.btn-update-table, .btn-update-chart, .btn-predict {
    padding: 6px;
    width: 80px;
}

.data-table {
    width: 100%;
    border-collapse: collapse;
}

.data-table td {
    text-align: center;
}

.data-table th, .data-table td {
    border: 1px solid black;
}

.right-side {
    grid-area: right-side;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}

.right-side div {
    padding-bottom: 10px;
}